
@if (message != "") {
    <h1>{{message}}</h1>
}
@else {
    <h1 class="rotate">Choose you player: </h1>
    <main class="grid">

        @for (player of players; track $index) {
            
            @if(player.loggedIn == false){
                <article class="card zoom" (click)="logIn(player.id)">

                    <img [src]="player.image" [alt]="player.title" />
                    <div class="title">{{player.title.toUpperCase()}}</div>

                </article>
            }
        }

    </main>
}