@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px 10px 20px;
    border-bottom: 1px solid gray;
    position: relative;
    z-index: 1000;
}

.logo {
    color: rgb(3, 248, 228);
    text-shadow: 2px 2px #7a00ff, 4px 4px #ff3d67;
    font-size: x-large;
}

.logo:hover {
    color: rgb(255, 2, 221);
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: large;
    padding: 15px 15px;
    cursor: pointer;
}

ul li a:hover {
    text-shadow: 2px 2px #7a00ff, 4px 4px #ff3d67;
    border: 1px solid #ff3d67;
    border-radius: 10px;
    transition: 0.1s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 768px) {
    .checkbtn {
        display: block;
        order: 1;
        margin-right: 20px;
    }

    ul {
        position: fixed;
        background-color: rgba(10, 24, 40, 0.9);
        top: 80px;
        right: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }

    ul li {
        margin: 0px 0px;
        padding: 15px;
    }

    ul li a {
        font-size: 20px;
    }

    ul li a:hover {
        background-color: transparent;
        text-decoration: underline;
        transition: 0.1s;
    }

    #check:checked~ul {
        right: 0;
    }
}