footer {
    color: white;
    margin-top: 80px;
    border-top: 1px solid gray;
    text-align: center;
    padding: 0px;
    background-color: rgba(12, 34, 58, 0);
    color: white;
}

p {
    padding-top: 0px;
    padding-bottom: 0px;
}

b {
}

a {
    text-decoration: underline;
    color: white;
}

a:hover {
    color: rgb(0, 173, 181, 1);
}